/* .aaaaaas{
    width: 100%;
    height: auto;
    text-align: center;
    background-image: url(./img/Dark-Souls-Desktop-Wallpaper-4k.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */